{%extends 'faceReg/base.html'%}
    {%load static%}
    {%block content%}
        <article class="media content-section">
            <div class="media-body">
                <!-- <div class="article-metadata">
                    <p class="mr-2" href="#">Eligibility Checker</p>
                    <small class="text-muted">{{ post.date_posted }}</small>
                </div> -->
                <h2><a class="article-title" href="#" id="result">Listen to your favorite songs!</a></h2>
            <!-- <p class="article-content">{{ post.content }}</p> -->
            </div>
            <!-- <audio><source src="{%static 'song1.mp3'%}">Your browser doesn't support audio</audio> -->
        </article>
    {%endblock%}